{# @var array variables #}
{% spaceless %}
    {% set response = frontastic_render(app.request, variables) %}
    {{ response.body|raw }}
    {#
    {% if response.status >= 400 and app.debug %}
    <script type="text/javascript">
        console.warn("Server Side Rendering failed", {{ response|json_encode()|raw() }})
    </script>
    {% endif %}
    <div id="app"
         data-props="{{ variables|frontastic_json_serialize|json_encode }}"
         data-app="{{ frontastic_context()|json_encode }}"
    >
        {% if response.status < 400 %}{{ response.body|raw }}{% endif %}
    </div>
    #}
{% endspaceless %}
