{# @var Response response #}
{% apply spaceless %}
    {% set context = frontastic_context() %}
    {% if response.status >= 400 and context.environment != 'prod' and context.environment != 'production' %}
    <script type="text/javascript">
        console.warn("Server Side Rendering failed", {{ response|json_encode()|raw() }})
    </script>
    <div id="frssrw" style="position: absolute; top: 10px; left: calc(50% - 250px); width: 500px; border: 3px solid #654b8b; background-color: #fff; color: #000; z-index: 2147483647; padding: 10px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);">
        <button
            style="float: right; margin: 5px; border: 1px solid #ccc; padding: 5px; background-color: #eee; color: #000;"
            onClick="document.getElementById('frssrw').setAttribute('style', 'display: none')">
            ❌
        </button>
        <h1 style="font-weight: bold; font-size: 24px; margin: 0px 0px 10px 0px;">⚠ Server Side Rendering Failed</h1>
        <p style="font-size: 14px; margin: 0px 0px 10px 0px;">Code {{ response.status }}, reason:</p>
        <p style="font-size: 12px; font-family: monospace; margin: 0px 0px 10px 0px;">{{ response.body.app }}</p>
        <p style="font-size: 12px; margin: 0px 0px 10px 0px;">
            Ensure the service s for this project are started (<code style="font-family: monospace;">sudo supervisorctl restart {{ context.customer.name }}-{{ context.project.projectId }}:</code>) and check the log at <code style="font-family: monospace;">/var/log/frontastic/{{ context.customer.name }}_{{ context.project.projectId }}/ssr.log</code> for more details.
        </p>
    </div>
    {% endif %}
    <div id="app">
        {% if response.status < 400 %}{{ response.body.app|raw }}{% endif %}
    </div>
    <div id="appData"
         data-props="{{ pageData|frontastic_json_serialize|json_encode }}"
         data-user-agent="{{ app.request.headers.get('User-Agent') }}"
     />
{% endapply %}
